AddType application/x-xpinstall xpi
AddHandler cgi-script .pl
Options -MultiViews

Redirect 301 /donate/                /donate
Redirect 301 /faq/chatzilla-faq.html /faq
Redirect 301 /intro/                 /intro
Redirect 301 /news/                  /news
Redirect 301 /revs                   /revisions

RewriteEngine On

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^(.*)\.(pl|html)$ http://chatzilla.hacksrus.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME}.pl -f
RewriteRule (.*) $1.pl [L]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule (.*) $1.html [L]
