#content > * {
	margin: 0.5em 0;
}

.summary-flag {
	font-style: italic;
}

.syntax,
.code {
	background: #E0E0E0;
	color: #000000;
	padding: 0.2em 0.4em;
}

.syntax,
.line,
tt {
	font-family: Consolas, monospace;
}

.line {
	min-height: 1.1em;
	line-height: 1.1em;
}

.line_number {
	margin-left: -0.4em;
	margin-right: 0.4em;
	background: #FFFFFF;
	color: #000000;
	padding: 0.2em 0.4em;
	font-style: italic;
}

.line_code {
	white-space: pre;
}

.instance,
.argument {
	font-style: italic;
}

.keyword {
	color: darkblue;
}

.comment {
	color: darkgreen;
}

.string {
	color: purple;
}

.regexp {
	color: darkred;
}

#content table th,
#content table td {
	text-align: left;
	vertical-align: top;
}


table.functions,
table.prototypes,
table.members,
table.arguments {
	border-collapse: collapse;
}

table.functions th,
table.prototypes th,
table.members th,
table.arguments th {
	background: #808080;
	color: #FFFFFF;
}

table.functions th, table.functions td,
table.prototypes th, table.prototypes td,
table.members th, table.members td,
table.arguments th, table.arguments td {
	border: 1px solid #E0E0E0;
	padding: 0.1em 0.2em;
}
